{% extends 'layout.html' %} {% block body %}

<div class="container"><img src="../static/bgimg.jpg" id="right" /></div>
<div class="heading">Plant Disease Detection and Remedies</div>
<div class="text">
  <p>
    <b>
      <span> Upload a picture of a Plant and get immediate results! </span></b
    >
  </p>
</div>
<div class="inner">
  <form id="analysis-form" enctype="multipart/form-data">
    <div class="imgbox">
      <img src="../static/bgimg.jpg" class="img" id="selected_image" />
      <div class="middle">
        <div class="add"><span class="siz">SELECT IMAGE</span></div>
        <input name="Select File" id="imagefile" width="100%" type="file" />
      </div>
    </div>
    <button id="analyze-button" class="analyze-button">
      <span>Predict</span>
    </button>
  </form>
</div>

<script src="../static/client.js"></script>
{% endblock %}
